.calender {
    display: flex;
    justify-content: center;
  }
  
  .calendar-table-container {
    margin: 0 auto; /* Centers the container horizontally */
    max-width: 800px; /* Adjust the maximum width as needed */
  }
  
  .calendar-table {
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    border: 2px solid #3498db; /* Border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .calendar-table th,
  .calendar-table td {
    padding: 12px;
    text-align: center;
  }
  
  .calendar-table th {
    background-color: #3498db; /* Header background color */
    color: #fff; /* Header text color */
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .calendar-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .calendar-table tr:hover {
    background-color: #ddd;
  }
  html {
    scroll-behavior: smooth;
  }